@use "../base.scss";

.advertisement__inner {
  padding: 17px 0 38px;
}

.advertisement__pleer {
  position: relative;
  display: flex;
  justify-content: center;
}

.advertisement__img {
  @include base.tablet {
    width: 100%;
    height: auto;
  }
}

.advertisement__play-button {
  position: absolute;
  top: 50px;
  background-color: transparent;
  border: none;
}
