@use "../base.scss";

.form {
  @include base.tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 48px;
    padding: 0 60px;
  }
}

.form__group {
  margin: 0;
}

.form__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 280px;
  margin: 0 auto;

  @include base.tablet {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    grid-column: 1 / -1;
  }
}

.form__button-submit {
  min-width: 281px;
}
