@use "../base.scss";

.form-field {
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: base.$text-gray;
}

.form-field__control {
  width: 100%;
  min-width: 280px;
  padding: 16px;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: base.$text-black;
  background-color: base.$bg-basic-gray;
  border: none;

  @include base.tablet {
    padding-right: 44px;
  }
}

.form-field__control::placeholder {
  color: rgba($color: base.$text-black, $alpha: 0.3);
}
