@use "../base.scss";

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 0 20px;
  border: none;
  border-top: 1px solid base.$bg-light-gray;

  @include base.tablet {
    border: none;
  }
}

.form-group--initials {
  @include base.tablet {
    padding-right: 44px;
  }
}

.form-group--contacts {
  @include base.tablet {
    padding-left: 44px;
  }
}

.form-group--impression {
  @include base.tablet {
    grid-column: 1 / -1;
  }
}

.form-group--attractions {
  @include base.tablet {
    grid-column: 1 / -1;
  }
}

.form-group--message {
  @include base.tablet {
    grid-column: 1 / -1;
  }
}

.form-group__list {
  padding: 0;
  margin: 0;
}

.form-group__title {
  text-align: center;
}

.form-group__field + .form-group__field {
  margin-top: 16px;
}
