@use "../base.scss";

.hero {
  background-color: base.$bg-blue;
  background-image: url("../../img/hero-index-mobile.jpg");
  background-size: cover;

  &--inner-page {
    background-image: url("../../img/hero-inner-mobile.jpg");
  }
}
