@use "../base.scss";

.hero {
  padding: 90px 0 85px;
  color: base.$text-white;
  background-color: base.$bg-blue;
  background-image: url("../img/hero-index-mobile.jpg");
  background-size: cover;
}

.hero--inner-page {
  background-image: url("../img/hero-inner-mobile.jpg");
}

.hero__img {
  display: block;
  margin: auto;
}
