@use "../base.scss";

.main-header {
  display: flex;
  flex-direction: column;
}

.main-header__logo {
  position: relative;
  z-index: 1;

  @include base.tablet {
    position: absolute;
    left: calc(50% - 90px);
    width: 185px;
    height: 96px;
  }
}
