@use "../base.scss";

.main-nav {
  height: 56px;
  text-align: center;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: base.$text-white;

  @include base.tablet {
    font-size: 14px;
    line-height: 21px;
    color: base.$text-black;
  }
}

.main-nav__wrapper {
  background-color: base.$bg-blue;

  @include base.tablet {
    background-color: base.$bg-white;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include base.tablet {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}

.main-nav__item + .main-nav__item {
  box-shadow: 0 -1px 0 rgba(1, 1, 1, 0.2),
    inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.main-nav__item--layout {
  @include base.tablet {
    grid-column: 4 / 5;
  }
}

.main-nav__link {
  display: block;
  padding: 17px 12px 12px;
  text-decoration: none;
  text-align: center;
  color: inherit;

  @include base.tablet {
    padding: 18px 24px;
    background-color: inherit;
  }
}

.main-nav__toggle {
  position: absolute;
  display: block;
  z-index: 3;
  top: 0;
  right: 0;
  padding: 0;
  width: 63px;
  height: 56px;
  background-color: inherit;
  cursor: pointer;
  border: none;

  @include base.tablet {
    display: none;
  }
}

.main-nav--closed .main-nav__wrapper {
  display: none;

  @include base.tablet {
    display: block;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 4px;
  background-color: base.$bg-blue;
  box-shadow:
    0 8px 0 0 base.$bg-blue,
    0 16px 0 0 base.$bg-blue;
}

.main-nav--closed .main-nav__toggle:hover::before {
  background-color: rgba($color: base.$bg-blue, $alpha: 0.6);
  box-shadow:
    0 8px 0 0 rgba($color: base.$bg-blue, $alpha: 0.6),
    0 16px 0 0 rgba($color: base.$bg-blue, $alpha: 0.6);
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba($color: base.$bg-blue, $alpha: 0.3);
  box-shadow:
    0 8px 0 0 rgba($color: base.$bg-blue, $alpha: 0.3),
    0 16px 0 0 rgba($color: base.$bg-blue, $alpha: 0.3);
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    // top: 17px;
    right: 20px;
    width: 28px;
    height: 4px;
    background-color: base.$bg-white;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: rgba($color: base.$bg-white, $alpha: 0.6);
  }

  &:active::before,
  &:active::after {
    background-color: rgba($color: base.$bg-white, $alpha: 0.3);
  }
}

.main-nav--opened .main-nav__wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
