@use "../base.scss";

.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  min-width: 320px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  background-color: base.$bg-very-light-gray;
}

.page__container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 auto;
  background-color: base.$bg-white;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.page__main {
  flex-grow: 1;
}

.page__popup {
  margin: 0 auto;
}
