.search__wrapper {
  padding: 38px 0 49px;
}

.search__button {
  margin: 32px auto 0;
}

.search__title {
  margin: 0 0 20px;
}

.search__map {
  width: 100%;
}

.search__iframe {
  display: block;
  width: 100%;
  margin: 0 auto;
}
