// SCREEN SIZE
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;

@mixin tablet {
  @media screen and (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-width) {
    @content;
  }
}
