// BACKGROUND COLORS
$bg-white: #ffffff;
$bg-very-light-gray: #f2f2f2;
$bg-light-gray: #eeeeee;
$bg-middle-gray: #e5e5e5;
$bg-gray: #d6d6d6;
$bg-blue: #81b3d2;

//FONT COLORS
$text-white: #ffffff;
$text-black: #000000;
$text-gray: #333333;
